<nav class="navbar navbar-expand-lg bg-body-tertiary border border-3">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://www.shutterstock.com/image-vector/hall-event-260nw-737233597.jpg" 
          alt="Banquet Hall Logo" 
          class="img-fluid me-2" 
          style="height: 100px; width: auto;" />
    </a>
    <a class="navbar-brand" href="#">Banquet-Hall-Booking-Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BanquetHalls
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="banquet-list">View BanquetDetails</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="banquet-create">Add BanquetDetails</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="banquet-category-list">View Categories</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="banquet-category-create">Add Category</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
